.App {
  padding: 30px 0;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  background: rgba(255,255,255,.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,.3);
}

.copyed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgba(0,0,0,.3);
  opacity: 0;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.copyed p {
  margin: 0;
  padding: 20px 30px;
  font-size: 2rem;
  font-style: italic;
  background: #fff;
  border-radius: 5px;
}

.App > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
}

.copyed.opened {
  visibility: visible;
  opacity: 1;
}

.output-container,
.input-container {
  flex: 1 1 100%;
}

.input-container {
  max-width: 420px;
  min-width: 420px;
  display: flex;
  flex-direction: column;
}

.output-container .wrapper {
  border: 1px solid #000;
  background: #fff;
  border-radius: 5px;
  height: 100%;
  overflow: auto;
  max-height: 730px;
  font-size: .9rem;
  padding: 20px 15px;
  background: #efefef;
  cursor: pointer;
}

.output-example {
  padding: 30px 15px;
  margin-top: 30px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  position: relative;
}


/* wysiwyg */
.wysiwyg h1 {
  text-align: left;
  font-size: 2rem;
}

.wysiwyg h2 {
  font-size: 1.8rem;
}

.wysiwyg h3 {
  font-size: 1.6rem;
}

.wysiwyg h4 {
  font-size: 1.4rem;
}

.wysiwyg h5 {
  font-size: 1.2rem;
}

.wysiwyg h6 {
  font-size: 1rem;
}

.wysiwyg strong,
.wysiwyg b {
  font-weight: 600;
}

.wysiwyg blockquote {
  margin: 20px 0 40px;
  padding: 25px;
  border:  1px solid #000;
  border-radius: 5px;
  position: relative;
}

.wysiwyg blockquote::after {
  content:  '';
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;
  transform: rotate(45deg) translateY(73%);
}

.wysiwyg table {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 40px 0;
  width: 100%;
}

.wysiwyg table th,
.wysiwyg table td {
  padding: 10px 15px;
  font-size: .9rem;
}

.wysiwyg table th {
  background: #000;
  color: #fff;
  border-right: 1px solid #fff;
}

.wysiwyg table caption {
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
  padding: 10px 0;
  background: #000;
  color: #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #fff;
}

.wysiwyg table th:last-child {
  border-right: 0;
}

.wysiwyg table tr:nth-child(even) {
  background: #eee;
}

.wysiwyg cite {
  font-style: italic;
  font-weight: 300;
  margin: 0 5px;
}

.wysiwyg q {
  padding: 0 10px;
  margin-right: 10px;
}

.wysiwyg q::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url('./assets/images/left-quote.png') no-repeat 0 50%, url('./assets/images/right-quote.png') no-repeat 100% 50%;
  background-size: 7px;
}

.wysiwyg var {
  font-style: italic;
}

.wysiwyg time {
  font-weight: 600;
  font-style: italic;
}

.wysiwyg small {
  font-size: 80%;
}

.wysiwyg s {
  text-decoration: line-through;
}

.wysiwyg mark {
  background: #ffd3c8;
  padding: 0 3px;
}

.wysiwyg ins,
.wysiwyg u {
  text-decoration: underline;
}

.wysiwyg abbr {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px dotted #f16363;
}

.wysiwyg code,
.wysiwyg kdb,
.wysiwyg samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.wysiwyg img {
  display: block;
  margin: 20px 0;
  max-width: 100%;
}

.wysiwyg a {
  font-weight: 600;
  text-decoration: none;
  color: #f16363;
}

.wysiwyg a:hover {
  text-decoration: underline;
}

/* show-created */
.wysiwyg p,
.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg blockquote,
.wysiwyg table,
.wysiwyg strong,
.wysiwyg sub,
.wysiwyg sup,
.wysiwyg a,
.wysiwyg abbr,
.wysiwyg b,
.wysiwyg i,
.wysiwyg em,
.wysiwyg cite,
.wysiwyg code,
.wysiwyg ins,
.wysiwyg kbd,
.wysiwyg mark,
.wysiwyg s,
.wysiwyg samp,
.wysiwyg small,
.wysiwyg time,
.wysiwyg q,
.wysiwyg ruby,
.wysiwyg u,
.wysiwyg var {
  position: relative;
}

.wysiwyg.show-highlighted strong,
.wysiwyg.show-highlighted sub,
.wysiwyg.show-highlighted sup,
.wysiwyg.show-highlighted a,
.wysiwyg.show-highlighted abbr,
.wysiwyg.show-highlighted b,
.wysiwyg.show-highlighted i,
.wysiwyg.show-highlighted em,
.wysiwyg.show-highlighted cite,
.wysiwyg.show-highlighted code,
.wysiwyg.show-highlighted ins,
.wysiwyg.show-highlighted kbd,
.wysiwyg.show-highlighted mark,
.wysiwyg.show-highlighted s,
.wysiwyg.show-highlighted samp,
.wysiwyg.show-highlighted small,
.wysiwyg.show-highlighted time,
.wysiwyg.show-highlighted q,
.wysiwyg.show-highlighted ruby,
.wysiwyg.show-highlighted u,
.wysiwyg.show-highlighted var {
  box-shadow: 0px 0px 1px 1px #6ca006;
  border-radius: 25px;
}

.wysiwyg p::before,
.wysiwyg h1::before,
.wysiwyg h2::before,
.wysiwyg h3::before,
.wysiwyg h4::before,
.wysiwyg h5::before,
.wysiwyg h6::before,
.wysiwyg ul::before,
.wysiwyg ol::before,
.wysiwyg blockquote::before,
.wysiwyg table::before,
.wysiwyg strong::before,
.wysiwyg sub::before,
.wysiwyg sup::before,
.wysiwyg a::before,
.wysiwyg abbr::before,
.wysiwyg b::before,
.wysiwyg i::before,
.wysiwyg em::before,
.wysiwyg cite::before,
.wysiwyg code::before,
.wysiwyg ins::before,
.wysiwyg kbd::before,
.wysiwyg mark::before,
.wysiwyg s::before,
.wysiwyg samp::before,
.wysiwyg small::before,
.wysiwyg time::before,
.wysiwyg q::before,
.wysiwyg ruby::before,
.wysiwyg u::before,
.wysiwyg var::before {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: #fff;
  box-shadow: 3px 3px 7px rgba(0,0,0,.3);
  padding: 5px 5px 8px;
  border-radius: 50% 50% 0 50%;
  font-size: .9rem;
  left: -1px;
  top: -1px;
  transform: translate(-100%, -100%);
  color: #000;
  border:  1px solid #000;
  transition: all .3s;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.wysiwyg.show-created p::before,
.wysiwyg.show-created h1::before,
.wysiwyg.show-created h2::before,
.wysiwyg.show-created h3::before,
.wysiwyg.show-created h4::before,
.wysiwyg.show-created h5::before,
.wysiwyg.show-created h6::before,
.wysiwyg.show-created ul::before,
.wysiwyg.show-created ol::before,
.wysiwyg.show-created blockquote::before,
.wysiwyg.show-created table::before,
.wysiwyg.show-created strong::before,
.wysiwyg.show-created sub::before,
.wysiwyg.show-created sup::before,
.wysiwyg.show-created a::before,
.wysiwyg.show-created abbr::before,
.wysiwyg.show-created b::before,
.wysiwyg.show-created i::before,
.wysiwyg.show-created em::before,
.wysiwyg.show-created cite::before,
.wysiwyg.show-created code::before,
.wysiwyg.show-created ins::before,
.wysiwyg.show-created kbd::before,
.wysiwyg.show-created mark::before,
.wysiwyg.show-created s::before,
.wysiwyg.show-created samp::before,
.wysiwyg.show-created small::before,
.wysiwyg.show-created time::before,
.wysiwyg.show-created q::before,
.wysiwyg.show-created ruby::before,
.wysiwyg.show-created u::before,
.wysiwyg.show-created var::before,
.wysiwyg.show-highlighted strong:hover::before,
.wysiwyg.show-highlighted sub:hover::before,
.wysiwyg.show-highlighted sup:hover::before,
.wysiwyg.show-highlighted a:hover::before,
.wysiwyg.show-highlighted abbr:hover::before,
.wysiwyg.show-highlighted b:hover::before,
.wysiwyg.show-highlighted i:hover::before,
.wysiwyg.show-highlighted em:hover::before,
.wysiwyg.show-highlighted cite:hover::before,
.wysiwyg.show-highlighted code:hover::before,
.wysiwyg.show-highlighted ins:hover::before,
.wysiwyg.show-highlighted kbd:hover::before,
.wysiwyg.show-highlighted mark:hover::before,
.wysiwyg.show-highlighted s:hover::before,
.wysiwyg.show-highlighted samp:hover::before,
.wysiwyg.show-highlighted small:hover::before,
.wysiwyg.show-highlighted time:hover::before,
.wysiwyg.show-highlighted q:hover::before,
.wysiwyg.show-highlighted ruby:hover::before,
.wysiwyg.show-highlighted u:hover::before,
.wysiwyg.show-highlighted var:hover::before {
  visibility: visible;
  opacity: 1;
}

.wysiwyg p::before { content:  '<p>'; }
.wysiwyg h1::before { content: '<h1>'; }
.wysiwyg h2::before { content: '<h2>'; }
.wysiwyg h3::before { content: '<h3>'; }
.wysiwyg h4::before { content: '<h4>'; }
.wysiwyg h5::before { content: '<h5>'; }
.wysiwyg h6::before { content: '<h6>'; }
.wysiwyg ul::before { content: '<ul>'; }
.wysiwyg ol::before { content: '<ol>'; }
.wysiwyg blockquote::before { content: '<blockquote>'; }
.wysiwyg table::before { content: '<table>'; }
.wysiwyg strong::before { content: '<strong>'; }
.wysiwyg sub::before { content: '<sub>'; }
.wysiwyg sup::before { content: '<sup>'; }
.wysiwyg a::before { content: '<a>'; }
.wysiwyg abbr::before { content: '<abbr>'; }
.wysiwyg b::before { content: '<b>'; }
.wysiwyg i::before { content: '<i>'; }
.wysiwyg em::before { content: '<em>'; }
.wysiwyg cite::before { content: '<cite>'; }
.wysiwyg code::before { content: '<code>'; }
.wysiwyg ins::before { content: '<ins>'; }
.wysiwyg kbd::before { content: '<kbd>'; }
.wysiwyg mark::before { content: '<mark>'; }
.wysiwyg s::before { content: '<s>'; }
.wysiwyg samp::before { content: '<samp>'; }
.wysiwyg small::before { content: '<small>'; }
.wysiwyg time::before { content: '<time>'; }
.wysiwyg q::before { content: '<q>'; }
.wysiwyg ruby::before { content: '<ruby>'; }
.wysiwyg u::before { content: '<u>'; }
.wysiwyg var::before { content: '<var>'; }

@media (max-width: 1023px) {
  .row {
    flex-wrap: wrap;
  }

  .input-container {
    max-width: none;
    min-width: 0;
    margin-bottom: 30px;
  }

  .output-container .wrapper {
    max-height: 200px;
  }
}

@media (max-width: 767px) {
  .App {
    background-color: transparent;
    box-shadow: none;
  }
}